// Colors
$white: #FFFFFF;
$black: #1C1C1C;
$grey: #303030;
$blue: #0282F9;

// Font Sizes
$s-text: 0.8rem;
$sm-text: 0.9rem;
$m-text: 1rem;
$lg-text: 1.2rem;
$xl-text: 1.5rem;

// Font Weight
$light: 200;
$normal: 400;
$semi-bold: 600;
$bold: 800;
$extra-bold: 900;